html, body {
  height: 100%;
  font-family: 'Noto Serif', serif;
  margin: 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
  font-weight: 400;
}

p {
  text-align: justify;
  line-height: 1.8;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid;
}

.cover {
  min-height: 100%;
}
